<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title).presence || "Errbot" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Errbot">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>
      <nav>
        <%= link_to "Errbot", root_path %>
        <% if Current.user&.admin? %>
          <%= link_to "User Authorizations", authorized_users_path %>
        <% end %>
        <% if Current.user.present? %>
          <span><%= Current.user.name %></span>
          <%= button_to "Logout", logout_path, method: :delete %>
        <% end %>
      </nav>
    </header>
    <% if notice %>
      <p><%= notice %></p>
    <% end %>
    <% if alert %>
      <p><%= alert %></p>
    <% end %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
